html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
}

nav{

    background-color: #0B1933;
    height: 145px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width:auto;
}

#navigation{
   max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
    margin-top: 10px;
    margin-left: 40px;
    background:rgba(255,255,255,0.15) ;
    backdrop-filter: blur(10px);
    padding:1rem;
    position:fixed;
    width:85%;
    left:50%;
    transform:translateX(-50%);
    top:2rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);
}

nav a{
    font-family: poppins;
    font-size: 20px;    
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    transition:all 0.3s ease-in-out;
}
nav a:hover{

    transform:translate(5%);
}
#let{
    display: inline-block;
    
}
#let a{
     display: inline-block;
    padding: 10px 20px;
    border-radius:21px ;
    background-color:#B3CFE5 ;
    color: #0B1933;
}
nav a i{
    padding-left: 5px;
}